<?xml version="1.0"?>
<!--
/**
 * @category    Ubertheme
 * @package     Ubertheme_UbDatamigration
 * @author      Ubertheme.com
 * @copyright   Copyright 2009-2016 Ubertheme
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Custom_Changes" setup_version="1.0.0">
    	<sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Review"/>
        </sequence>
    </module>
</config>
